* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
    background-color: rgb(235, 223, 203);
}

.top-section {
    display: block;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: white;
    font-size: clamp(0.9rem)
}

h2 {
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#posterCanvas {
    width: min(300px, 90vw);
    height: auto;
    aspect-ratio: 2 / 3;
    display: block;
}

.guess-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
}

.guess-section input {
    width: 15%;
    height: 20px;
    background: transparent;
    background-color: rgb(206, 186, 163);
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.guess-section button {
    display: block;
    visibility: hidden;
}

.box-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
}

.box-section button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 25px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(175, 159, 134);
}


.guess-section button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  padding: 5 18px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 120px;
  height: 30px;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}